<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Dashboard</title>
    <link rel="stylesheet" href="/app/static/css/posts.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">Forum</div>
        <div class="nav-links">
            <a href="/forum" class="nav-link">Home</a>
            <a href="/add_post" class="nav-link">add post</a>
            <a href="/members" class="nav-link">Members</a>
            <div id="user-profile">
            </div>
        </div>
    </nav>
    <div class="dashboard-container">
        <aside id="sidebar">
            <div class="card-title">Categories</div>
            <!-- The content will be filled dynamically -->
        </aside>
        <main id="main-content">
            <!-- The content will be filled dynamically! -->
        </main>
        <script src="/app/static/scripts/posts.js"></script>
    </div>
</body>
</html>