<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="/app/static/css/index.css">
</head>

<body>
    <div class="container">
        <!-- Registration Form -->
        <div id="registerForm" class="form-container">
            <h2 class="form-title">Registration</h2>
            <form id="registrationForm">
                <div class="form-group">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"
                        required>
                    <div class="error-message" id="firstNameError"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
                        required>
                    <div class="error-message" id="lastNameError"></div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    <div class="error-message" id="emailError"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required>
                    <div class="error-message" id="passwordError"></div>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" id="profilePicture" name="profilePicture" accept="image/*">
                    <div class="error-message" id="profilePictureError"></div>
                </div>
                <button type="submit" class="btn">Register Now</button>
            </form>
            <div class="toggle-form">
               <a href="#" id="showLogin"><span>Already have an account? </span> Login now</a>
                <a href="/" id="go_home">Home</a>
            </div>
        </div>

        <!-- Login Form -->
        <div id="loginForm" class="form-container active">
            <h2 class="form-title">Login</h2>
            <form id="loginFormElement">
                <div class="form-group">
                    <input type="email" class="form-control" id="loginEmail" name="email" placeholder="Email" required>
                    <div class="error-message" id="loginEmailError"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="loginPassword" name="password"
                        placeholder="Password" required>
                    <div class="error-message" id="loginPasswordError"></div>
                </div>
                <button type="submit" class="btn">Login</button>

            </form>
            <div class="toggle-form">
                <a href="#" id="showRegister"><span>Don't have an account?</span>Register now</a>
                <a href="/" id="go_home">Home</a>
            </div>
        </div>
    </div>

    <!-- Registration Success Modal -->
    <div id="registrationModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="closeModal">&times;</span>
            <h2>Registration Status</h2>
            <p id="modalMessage"></p>
            <button id="modalOkBtn" class="btn">OK</button>
        </div>
    </div>

    <script src="/app/static/editjs/users.js"></script>
</body>

</html>